# Guided Capstone Step 4. Pre-Processing and Training Data Development

**The Data Science Method**  


1.   Problem Identification 


2.   Data Wrangling 
  
 
3.   Exploratory Data Analysis   

4.   **Pre-processing and Training Data Development**  
 * Create dummy or indicator features for categorical variables
  * Standardize the magnitude of numeric features
  * Split into testing and training datasets
  * Apply scaler to the testing set
5.   Modeling 
  * Fit Models with Training Data Set
  * Review Model Outcomes — Iterate over additional models as needed.
  * Identify the Final Model

6.   Documentation
  * Review the Results
  * Present and share your findings - storytelling
  * Finalize Code 
  * Finalize Documentation

**<font color='teal'> Start by loading the necessary packages as we did in step 3 and printing out our current working directory just to confirm we are in the correct project directory. </font>**

In [151]:
#load python packages
import os
import pandas as pd
import datetime
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

os.getcwd()

'C:\\Users\\Jeremy Wendt\\anaconda3\\SpringBoard Projects'

**<font color='teal'>  Load the csv file you created in step 3, remember it should be saved inside your data subfolder and print the first five rows.</font>**

In [152]:
df = pd.read_csv('C:\\Users\\Jeremy Wendt\\anaconda3\\SpringBoard Projects\\Step 2\\data\\step3_output.csv')

df.drop(df.columns[[0, 1]], axis=1, inplace=True)

print(df.head())

print(df.info())

                  Name    state  summit_elev  vertical_drop  trams  fastEight  \
0       Alyeska Resort   Alaska         3939           2500      1        0.0
1  Eaglecrest Ski Area   Alaska         2600           1540      0        0.0
2     Hilltop Ski Area   Alaska         2090            294      0        0.0
3     Arizona Snowbowl  Arizona        11500           2300      0        0.0
4  Sunrise Park Resort  Arizona        11100           1800      0        0.0

   fastSixes  fastQuads  quad  triple  ...  SkiableTerrain_ac  Snow Making_ac  \
0          0          2     2       0  ...             1610.0           113.0
1          0          0     0       0  ...              640.0            60.0
2          0          0     0       1  ...               30.0            30.0
3          1          0     2       2  ...              777.0           104.0
4          0          1     2       3  ...              800.0            80.0

   daysOpenLastYear  yearsOpen  averageSnowfall  AdultWeekday  AdultWeekend  \
0             150.0       60.0            669.0          65.0          85.0
1              45.0       44.0            350.0          47.0          53.0
2             150.0       36.0             69.0          30.0          34.0
3             122.0       81.0            260.0          89.0          89.0
4             115.0       49.0            250.0          74.0          78.0

   projectedDaysOpen  NightSkiing_ac  clusters
0              150.0           550.0         0
1               90.0             0.0         0
2              152.0            30.0         0
3              122.0             0.0         1
4              104.0            80.0         1

[5 rows x 26 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 330 entries, 0 to 329
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               330 non-null    object
 1   state              330 non-null    object
 2   summit_elev        330 non-null    int64
 3   vertical_drop      330 non-null    int64
 4   trams              330 non-null    int64
 5   fastEight          330 non-null    float64
 6   fastSixes          330 non-null    int64
 7   fastQuads          330 non-null    int64
 8   quad               330 non-null    int64
 9   triple             330 non-null    int64
 10  double             330 non-null    int64
 11  surface            330 non-null    int64
 12  total_chairs       330 non-null    int64
 13  Runs               330 non-null    float64
 14  TerrainParks       330 non-null    float64
 15  LongestRun_mi      330 non-null    float64
 16  SkiableTerrain_ac  330 non-null    float64
 17  Snow Making_ac     330 non-null    float64
 18  daysOpenLastYear   330 non-null    float64
 19  yearsOpen          330 non-null    float64
 20  averageSnowfall    330 non-null    float64
 21  AdultWeekday       330 non-null    float64
 22  AdultWeekend       330 non-null    float64
 23  projectedDaysOpen  330 non-null    float64
 24  NightSkiing_ac     330 non-null    float64
 25  clusters           330 non-null    int64
dtypes: float64(13), int64(11), object(2)
memory usage: 67.2+ KB
None

## Create dummy features for categorical variables

**<font color='teal'> Create dummy variables for `state`. Add the dummies back to the dataframe and remove the original column for `state`. </font>**

Hint: you can see an example of how to execute this in Aiden's article on preprocessing [here](https://medium.com/@aiden.dataminer/the-data-science-method-dsm-pre-processing-and-training-data-development-fd2d75182967).

In [153]:
df = pd.concat([df, pd.get_dummies(df['state'])], axis=1).drop(['state'], axis =1)
print(df.shape)


#dfo=df.select_dtypes(include=['object']) # select object type columns
#df = pd.concat([df.drop(dfo, axis=1), pd.get_dummies(dfo)], axis=1)

(330, 60)

## Standardize the magnitude of numeric features

**<font color='teal'> Using sklearn preprocessing standardize the scale of the features of the dataframe except the name of the resort which we done't need in the dataframe for modeling, so it can be droppped here as well. Also, we want to hold out our response variable(s) so we can have their true values available for model performance review. Let's set `AdultWeekend` to the y variable as our response for scaling and modeling. Later we will go back and consider the `AdultWeekday`, `dayOpenLastYear`, and `projectedDaysOpen`. For now leave them in the development dataframe. </font>**

In [154]:
# first we import the preprocessing package from the sklearn library
from sklearn.preprocessing import StandardScaler

# Declare an explanatory variable, called X,and assign it the result of dropping 'Name' and 'AdultWeekend' from the df
X = df.drop(['Name','AdultWeekend'], axis=1)

# Declare a response variable, called y, and assign it the AdultWeekend column of the df 
y = df.AdultWeekend



# Here we use the StandardScaler() method of the preprocessing package, and then call the fit() method with parameter X 
scaler = StandardScaler().fit(X)


# Declare a variable called X_scaled, and assign it the result of calling the transform() method with parameter X 
X_scaled=scaler.transform(X)

## Split into training and testing datasets

**<font color='teal'> Using sklearn model selection import train_test_split, and create a 75/25 split with the y = `AdultWeekend`. We will start by using the adult weekend ticket price as our response variable for modeling.</font>**

In [155]:
# Import the train_test_split function from the sklearn.model_selection utility.  
from sklearn.model_selection import train_test_split

# Get the 1-dimensional flattened array of our response variable y by calling the ravel() function on y
y = y.ravel()

# Call the train_test_split() function with the first two parameters set to X_scaled and y 
# Declare four variables, X_train, X_test, y_train and y_test separated by commas 
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.25, random_state=1)

Here we start the actual modeling work. First let's fit a multiple linear regression model to predict the `AdultWeekend` price.

# Guided Capstone Step 5. Modeling

This is the fifth step in the Data Science Method. In the previous steps you cleaned and prepared the datasets. Now it's time to get into the most exciting part: modeling! In this exercise, you'll build three different models and compare each model's performance. In the end, you'll choose the best model for demonstrating insights to Big Mountain management.



### **The Data Science Method**  


1.   Problem Identification 

2.   Data Wrangling 
  
3.   Exploratory Data Analysis 
 
4.   Pre-processing and Training Data Development

5.   **Modeling**
  * Fit Models with Training Data Set
  * Review Model Outcomes — Iterate over additional models as needed.
  * Identify the Final Model

6.   Documentation
  * Review the Results
  * Present and share your findings - storytelling
  * Finalize Code 
  * Finalize Documentation

## Fit Models with a Training Dataset

**<font color='teal'> Using sklearn, fit the model on your training dataset.</font>**

#### Model 1

In [156]:
#all first model set
from sklearn import linear_model
from sklearn.metrics import explained_variance_score,mean_absolute_error
lm = linear_model.LinearRegression()
model = lm.fit(X_train,y_train)

**<font color='teal'> Predict on the testing dataset and score the model performance with the y_test set and the y-pred values. The explained variance is a measure of the variation explained by the model. This is also known as the R-squared value. </font>**

Hint: you will have to use the `predict()` method here as it's used in this [DSM article](https://medium.com/@aiden.dataminer/the-data-science-method-dsm-modeling-56b4233cad1b) about modeling.

In [157]:
# Make a variable called y_pred and assign it the result of calling predict() on our model variable with parameter X_test

y_pred = model.predict(X_test)

## Review Model Outcomes — Iterate over additional models as needed

In [158]:
# You might want to use the explained_variance_score() and mean_absolute_error() metrics.
# To do so, you will need to import them from sklearn.metrics. 
# You can plug y_test and y_pred into the functions to evaluate the model

print(explained_variance_score(y_test, y_pred))

print(mean_absolute_error(y_test, y_pred))

0.9405340596184981
4.897812419491945

**<font color='teal'> Print the intercept value from the linear model. </font>**

Hint: our linear regression model `lm` has an attribute `intercept_` for the intercept

In [159]:
print(lm.intercept_)

64.10337476323181

**<font color='teal'> The intercept is the mean `AdultWeekend` price for all the resorts given the other characteristics. The addition or subtraction of each of the coefficient values in the regression are numeric adjustments applied to the intercept to provide a particular observation's value for the resulting `AdultWeekend` value. Also, because we took the time to scale our x values in the training data, we can compare each of the coeeficients for the features to determine the feature importances. Print the coefficient values from the linear model and sort in descending order to identify the top ten most important features.</font>** 


Hint: make sure to review the absolute value of the coefficients, because the adjustment may be positive or negative, but what we are looking for is the magnitude of impact on our response variable.

In [160]:
# You might want to make a pandas DataFrame displaying the coefficients for each state like so: 
pd.DataFrame(abs(lm.coef_), X.columns, columns=['Coefficient'])

                    Coefficient
summit_elev        1.757163e+00
vertical_drop      1.077296e+00
trams              2.728029e+11
fastEight          2.681920e+10
fastSixes          3.174978e+11
fastQuads          1.070998e+12
quad               6.393190e+11
triple             7.888318e+11
double             8.842725e+11
surface            1.003445e+12
total_chairs       2.825089e+12
Runs               1.291603e+00
TerrainParks       6.465149e-02
LongestRun_mi      4.793396e-01
SkiableTerrain_ac  1.145020e-01
Snow Making_ac     9.088135e-01
daysOpenLastYear   5.073776e-01
yearsOpen          3.648071e-01
averageSnowfall    7.760620e-02
AdultWeekday       1.926147e+01
projectedDaysOpen  8.605957e-02
NightSkiing_ac     7.201538e-01
clusters           6.600952e-01
Alaska             4.598648e+12
Arizona            3.760517e+12
California         1.182727e+13
Colorado           1.208599e+13
Connecticut        5.918645e+12
Idaho              9.069844e+12
Illinois           5.301935e+12
Indiana            3.760517e+12
Iowa               4.598648e+12
Maine              7.891679e+12
Maryland           2.663137e+12
Massachusetts      8.697357e+12
Michigan           1.371759e+13
Minnesota          9.765695e+12
Missouri           3.760517e+12
Montana            9.069844e+12
Nevada             5.301935e+12
New Hampshire      1.040688e+13
New Jersey         3.760517e+12
New Mexico         7.891679e+12
New York           1.453553e+13
North Carolina     6.473569e+12
Ohio               5.918645e+12
Oregon             8.305592e+12
Pennsylvania       1.128633e+13
Rhode Island       2.663137e+12
South Dakota       3.760517e+12
Tennessee          2.663137e+12
Utah               9.425338e+12
Vermont            1.009245e+13
Virginia           5.301935e+12
Washington         8.305592e+12
West Virginia      5.301935e+12
Wisconsin          1.040688e+13
Wyoming            7.451926e+12

**<font color='teal'>You should see that the top ten important features are different states. However, the state is not something the managers at the Big Mountain Resort can do anything about. Given that we care more about actionable traits associated with ticket pricing, rebuild the model without the state features and compare the results. </font>**

Hint: Try to construct another model using exactly the steps we followed above.

#### Model 2

In [161]:
Z = df.drop(['Name','AdultWeekend','Alaska','Arizona','California','Colorado','Connecticut','Idaho','Illinois','Indiana','Iowa','Maine','Maryland','Massachusetts','Michigan','Minnesota','Missouri','Montana','Nevada','New Hampshire','New Jersey','New Mexico','New York','North Carolina','Ohio','Oregon','Pennsylvania','Rhode Island','South Dakota','Tennessee','Utah','Vermont','Virginia','Washington','West Virginia','Wisconsin','Wyoming'], axis=1)

Z.info()

# Declare a response variable, called y, and assign it the AdultWeekend column of the df 
y2 = df.AdultWeekend

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 330 entries, 0 to 329
Data columns (total 23 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   summit_elev        330 non-null    int64
 1   vertical_drop      330 non-null    int64
 2   trams              330 non-null    int64
 3   fastEight          330 non-null    float64
 4   fastSixes          330 non-null    int64
 5   fastQuads          330 non-null    int64
 6   quad               330 non-null    int64
 7   triple             330 non-null    int64
 8   double             330 non-null    int64
 9   surface            330 non-null    int64
 10  total_chairs       330 non-null    int64
 11  Runs               330 non-null    float64
 12  TerrainParks       330 non-null    float64
 13  LongestRun_mi      330 non-null    float64
 14  SkiableTerrain_ac  330 non-null    float64
 15  Snow Making_ac     330 non-null    float64
 16  daysOpenLastYear   330 non-null    float64
 17  yearsOpen          330 non-null    float64
 18  averageSnowfall    330 non-null    float64
 19  AdultWeekday       330 non-null    float64
 20  projectedDaysOpen  330 non-null    float64
 21  NightSkiing_ac     330 non-null    float64
 22  clusters           330 non-null    int64
dtypes: float64(12), int64(11)
memory usage: 59.4 KB

In [162]:
# Here we use the StandardScaler() method of the preprocessing package, and then call the fit() method with parameter X 
scaler = StandardScaler().fit(Z)

In [163]:
# Declare a variable called X_scaled, and assign it the result of calling the transform() method with parameter X 
Z_scaled=scaler.transform(Z)

In [164]:
# Get the 1-dimensional flattened array of our response variable y by calling the ravel() function on y
y2 = y2.ravel()

# Call the train_test_split() function with the first two parameters set to X_scaled and y 
# Declare four variables, X_train, X_test, y_train and y_test separated by commas 
Z_train, Z_test, y2_train, y2_test = train_test_split(Z_scaled, y2, test_size=0.25, random_state=1)

In [165]:
lz = linear_model.LinearRegression()

In [166]:
model = lz.fit(Z_train,y2_train)

In [167]:
y2_pred = model.predict(Z_test)

In [168]:
print(explained_variance_score(y2_test, y2_pred))

print(mean_absolute_error(y2_test, y2_pred))

print(lz.intercept_)

pd.DataFrame(abs(lz.coef_), Z.columns, columns=['Coefficient'])

0.934761019889277
5.126071445374538
64.09509138559456

                   Coefficient
summit_elev           4.652246
vertical_drop         1.022142
trams                 0.127082
fastEight             0.224541
fastSixes             0.280156
fastQuads             0.978870
quad                  1.074501
triple                1.377548
double                0.199762
surface               1.435298
total_chairs          0.572964
Runs                  1.929555
TerrainParks          0.147485
LongestRun_mi         0.523308
SkiableTerrain_ac     0.433865
Snow Making_ac        0.595936
daysOpenLastYear      0.606677
yearsOpen             0.276939
averageSnowfall       1.081889
AdultWeekday         19.841663
projectedDaysOpen     0.191348
NightSkiing_ac        0.706593
clusters              5.969742

**<font color='teal'> When reviewing our new model coefficients, we see `summit_elev` is now in the number two spot. This is also difficult to change from a management prespective and highly correlated with `base_elev` and `vertical_drop`.  This time, rebuild the model without the state features and without the `summit_elev` and without `base_elev`and compare the results. </font>**

#### Model 3

In [169]:
XX = df.drop(['summit_elev','Name','AdultWeekend','Alaska','Arizona','California','Colorado','Connecticut','Idaho','Illinois','Indiana','Iowa','Maine','Maryland','Massachusetts','Michigan','Minnesota','Missouri','Montana','Nevada','New Hampshire','New Jersey','New Mexico','New York','North Carolina','Ohio','Oregon','Pennsylvania','Rhode Island','South Dakota','Tennessee','Utah','Vermont','Virginia','Washington','West Virginia','Wisconsin','Wyoming'], axis=1)

XX.info()

# Declare a response variable, called y, and assign it the AdultWeekend column of the df 
y3 = df.AdultWeekend

scaler = StandardScaler().fit(XX)

XX_scaled=scaler.transform(XX) 

y3 = y3.ravel()

# Call the train_test_split() function with the first two parameters set to X_scaled and y 
# Declare four variables, X_train, X_test, y_train and y_test separated by commas 
XX_train, XX_test, y3_train, y3_test = train_test_split(XX_scaled, y3, test_size=0.25, random_state=1)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 330 entries, 0 to 329
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   vertical_drop      330 non-null    int64
 1   trams              330 non-null    int64
 2   fastEight          330 non-null    float64
 3   fastSixes          330 non-null    int64
 4   fastQuads          330 non-null    int64
 5   quad               330 non-null    int64
 6   triple             330 non-null    int64
 7   double             330 non-null    int64
 8   surface            330 non-null    int64
 9   total_chairs       330 non-null    int64
 10  Runs               330 non-null    float64
 11  TerrainParks       330 non-null    float64
 12  LongestRun_mi      330 non-null    float64
 13  SkiableTerrain_ac  330 non-null    float64
 14  Snow Making_ac     330 non-null    float64
 15  daysOpenLastYear   330 non-null    float64
 16  yearsOpen          330 non-null    float64
 17  averageSnowfall    330 non-null    float64
 18  AdultWeekday       330 non-null    float64
 19  projectedDaysOpen  330 non-null    float64
 20  NightSkiing_ac     330 non-null    float64
 21  clusters           330 non-null    int64
dtypes: float64(12), int64(10)
memory usage: 56.8 KB

In [170]:
lx = linear_model.LinearRegression()
model = lx.fit(XX_train,y3_train)
y3_pred = model.predict(XX_test)

In [171]:
print(explained_variance_score(y3_test, y3_pred))

print(mean_absolute_error(y3_test, y3_pred))

print(lx.intercept_)

pd.DataFrame(abs(lx.coef_), XX.columns, columns=['Coefficient'])

0.9354012974977128
5.1303455279734145
64.07752725203471

                   Coefficient
vertical_drop         2.032411
trams                 0.290860
fastEight             0.060005
fastSixes             0.383018
fastQuads             0.705187
quad                  1.183929
triple                1.387036
double                0.246858
surface               1.249047
total_chairs          0.571702
Runs                  1.398631
TerrainParks          0.092517
LongestRun_mi         0.403842
SkiableTerrain_ac     0.141560
Snow Making_ac        0.584563
daysOpenLastYear      1.156668
yearsOpen             0.242682
averageSnowfall       0.899505
AdultWeekday         20.077469
projectedDaysOpen     0.585124
NightSkiing_ac        0.381768
clusters              2.638486

## Identify the Final Model

**<font color='teal'> Review the model performances in the table below and choose the best model for proving insights to Big Mountain management about what features are driving ski resort lift ticket prices. Type your choice in the final markdown cell — you will discuss this selection more in the next step of the guided casptone. </font>**

| Model | Explained Variance| Mean Absolute Error|Features Dropped|
| --- | --- | --- | --- |
| Model 1. | 0. |  |-|
| Model 2. | 0.| |'state'|
| Model 3. | 0. | |'state','summit_elev','base_elev'|

Model Selection:

In [0]:
#We should go with Model 3 because it has the highest Explained Variance Score.